{
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"trailingComma": "es5",
	"endOfLine": "lf",
	"bracketSpacing": true,
	"arrowParens": "always",
	"htmlWhitespaceSensitivity": "strict"
}