// font
$black_color: #111;
$red_color: #ff5468;
$gold_color: #a59939;
// @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500;700&display=swap');
//
// 10px	3.125vw
// 11px	3.4375vw
// 12px	3.75vw
// 13px	4.0625vw
// 14px	4.375vw
// 15px	4.6875vw
// 16px	5vw
// 17px	5.3125vw
// 18px	5.625vw
// 19px	5.9375vw
// 20px	6.25vw
// 21px	6.5625vw
// 22px	6.875vw
// 23px	7.1875vw
// 24px	7.5vw
// 25px	7.8125vw
// 26px	8.125vw
//
// hash
$sns_array: (
	twitter: (
		(#25a0ee, #fff),
		(#fff, none),
		(#000, none),
	),
	facebook: (
		(#1f75ec, #fff),
		(#fff, none),
		(#000, none),
	),
	line: (
		(#fff, #3eb157),
		(none, #fff),
		(none, #000),
	),
	hatena: (
		(#fff, #00a4de),
		(none, #fff),
		(none, #000),
	),
);
$part_color: (
	1: (
		#e7eae8,
	),
	2: (
		#f0ece2,
	),
	3: (
		#e0e3dc,
	),
	4: (
		#eadddf,
	),
);
// mixin
// @content
@mixin maxwidth($value) {
	@media screen and (max-width: $value) {
		@content;
	}
}
@mixin minwidth($value) {
	@media screen and (min-width: $value) {
		@content;
	}
}
@mixin minmaxwidth($value, $value2) {
	@media screen and (min-width: $value) and (max-width: $value2) {
		@content;
	}
}
@mixin mobile($value) {
	[data-device='mobile'][data-orientation='portrait'] & {
		@content;
	}
	@media screen and (max-width: $value) {
		@content;
	}
}
@mixin mobileLandscape() {
	[data-device='mobile'][data-orientation='landscape'] & {
		@content;
	}
}
@mixin tabletLandscape() {
	[data-device='tablet'][data-orientation='landscape'] & {
		@content;
	}
}
@mixin landscape() {
	[data-orientation='landscape'] & {
		@content;
	}
}
@mixin maxheight($value) {
	@media screen and (max-height: $value) {
		@content;
	}
}
@mixin minheight($value) {
	@media screen and (min-height: $value) {
		@content;
	}
}
@mixin minmaxheight($value, $value2) {
	@media screen and (min-height: $value) and (max-height: $value2) {
		@content;
	}
}
// https://jajaaan.co.jp/css/responsive-font-size/
@function get_vw($size, $viewport: 375) {
	$rate: 100 / $viewport;
}
@mixin fz_vw($font_size: 10) {
	font-size: $font_size * 1px;
	font-size: get_vw($font_size);
}
// keyframes
@keyframes Fixed {
	0% {
		transform: translate3d(0, -50px, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}
