.footer {
	z-index: 2;
	position: relative;
	width: 100%;
	background: #c7c7c7;
	@include minwidth(768px) {
		padding: 20px;
	}
	@include mobile(767px) {
		padding: 20px 10px;
	}
	.inner {
		p {
			text-align: center;
			line-height: 1.4;
			color: #555;
			font-size: 1.2rem;
			&:first-child {
				padding: 0 0 10px;
			}
		}
	}
}
