.svg {
	width: 100%;
	height: 100%;
	&[data-color='white'] {
		// background: #fff;
	}
	path,
	circle {
		fill: #fff;
	}
	.twitter {
		fill: #25a0ee;
	}
	.facebook {
		fill: #1f75ec;
	}
	.line {
		fill: #3eb157;
	}
	.arch {
		fill: #b90000;
	}
	.white {
		fill: #fff;
	}
	.black {
		fill: #000;
	}
	.circle {
		fill: rgba(#000, 0.8);
	}
	.left,
	.right {
		fill: $gold_color;
	}
	.arrow {
	}
}
